.cont {
    position: absolute;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    max-width: 420px;
    width: auto;
    top: 100px;
    display: flex;
    flex-direction: column;
    padding-bottom: 20px;
    background-color: rgba(0, 0, 0, 0.504);
    border-radius: 10px;
    flex-wrap: wrap;
    align-content: center;
    border: 2px rgba(75, 73, 73, 0.705) solid;
    -webkit-box-shadow: 6px 6px 20px -3px rgba(0,0,0,0.75);
    -moz-box-shadow: 6px 6px 10px -3px rgba(0,0,0,0.75);
    box-shadow: 6px 6px 10px -3px rgba(0,0,0,0.75);
}

body {
    font-family: 'Manrope';
    background-color: rgb(100, 100, 100);
    margin: 0;
    overflow: hidden;
    font-family: 'Roboto Mono', monospace;
}

#main{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
}

h3{
    color: #EEEEEE;
    margin: 0%;
    white-space: nowrap;
    margin-bottom: 10px;
    font-size: 130%;
    text-wrap: wrap;
}

#list{
    color:#EEEEEE;
    display: flex;
    width: 10%;
}

.child{
    padding: 3%;
    display: flex;
    flex-direction: column;
}


ul{
    display: flex;
    flex-direction: column;
    padding-left: 10%;
    margin-top: 0%;
}
li{
    color: #EEEEEE;
}

a{
    color:#EEEEEE;
    font-size: 100%;
    text-decoration: none;
}
a:hover{text-decoration: underline;}

@keyframes textShine {
    0% {
      background-position: 0% 50%;
    }
    100% {
      background-position: 100% 50%;
    }
  }
  
h1 {
    color:#EEEEEE;
    margin: 5px;
    background: linear-gradient(
      to right,
      #57c518 33%,
      #25cfc1 66%,
      #0190cd 100%
    );
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 500% auto;
    animation: textShine 5s ease-in-out infinite alternate;

    font-size: 250%;
    text-align: center;
    font-weight: 400;
  }

#services{
    padding: 1.65%;
    padding-top: 0%;
    padding-bottom: 0%;
}
@media(max-width: 768px){
    .cont {max-width: 80%; top: 50px; padding-left: 5%; padding-right: 5%;}

}
@media(max-width: 470px){
    .cont {max-width: 80%; top: 50px; padding-left: 5%; padding-right: 5%;}
    h1 {font-size: 200%;}
    h3{
        font-size: 120%;
        white-space: inherit;
    }
    ul{
        padding-left: 15%;
    }
}

  
